/* global styles */

*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
    list-style: none;
    text-decoration: none;
    outline: none;
}

/* custom font for logo */

@font-face {
    font-family: Arciform;
    src: url('./assets/Arciform.otf');
}
h1{
    /* color: #2ec96f; */
}